<% if (theme.socialLink.csdn) { %>
    <a href="<%= theme.socialLink.csdn %>" class="tooltipped" target="_blank"
       data-tooltip="csdn: <%= theme.socialLink.csdn %>" data-position="top" data-delay="50">
        <i class="fab fa-cuttlefish"></i>
    </a>
<% } %>

<% if (theme.socialLink.gitee) { %>
    <a href="<%= theme.socialLink.gitee %>" class="tooltipped" target="_blank" data-tooltip="码云"
       data-position="top" data-delay="50">
        <i class="fab fa-free-code-camp"></i>
    </a>
<% } %>

<% if (theme.socialLink.java) { %>
    <a href="<%= theme.socialLink.java %>" class="tooltipped" target="_blank"
       data-tooltip="java: <%= theme.socialLink.java %>" data-position="top" data-delay="50">
        <i class="fab fa-get-pocket"></i>
    </a>
<% } %>

<% if (theme.socialLink.email) { %>
    <a href="mailto:<%= theme.socialLink.email %>" class="tooltipped" target="_blank" data-tooltip="邮件联系我"
       data-position="top" data-delay="50">
        <i class="fas fa-envelope-open"></i>
    </a>
<% } %>

<% if (theme.socialLink.wechat) { %>
    <a href="<%= theme.socialLink.wechat %>" class="tooltipped" target="_blank"
       data-tooltip="wechat: <%= theme.socialLink.wechat %>" data-position="top" data-delay="50">
        <i class="fab fa-weixin"></i>
    </a>
<% } %>

<% if (theme.socialLink.qq) { %>
    <a href="tencent://AddContact/?fromId=50&fromSubId=1&subcmd=all&uin=<%= theme.socialLink.qq %>" class="tooltipped"
       target="_blank" data-tooltip="QQ联系我: <%= theme.socialLink.qq %>" data-position="top" data-delay="50">
        <i class="fab fa-qq"></i>
    </a>
<% } %>


<% if (theme.socialLink.zhihu) { %>
    <a href="<%= theme.socialLink.zhihu %>" class="tooltipped" target="_blank"
       data-tooltip="关注我的知乎: <%= theme.socialLink.zhihu %>" data-position="top" data-delay="50">
        <i class="fab fa-zhihu1">知</i>
    </a>
<% } %>

<% if (theme.socialLink.rss) { %>
    <a href="<%- url_for('/atom.xml') %>" class="tooltipped" target="_blank" data-tooltip="RSS 订阅" data-position="top"
       data-delay="50">
        <i class="fas fa-rss"></i>
    </a>
<% } %>